.background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.4);
  display: grid;
  place-items: center;

  .container {
    width: 85%;
    max-width: 320px;
    height: auto;
    background-color: rgb(215, 160, 9);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;

    .title {
      color: black;
      font-size: 1.6rem;
      font-weight: 700;
      margin-top: 15px;
    }

    .message {
      color: black;
      font-size: 1.4rem;
    }

    .closeBtn {
      font-size: 1.4rem;
      color: black;
      padding: 5px 10px;
      border: none;
      border-radius: 8px;
      background-color: antiquewhite;
      font-weight: bold;
      margin-bottom: 15px;

      &:hover {
        cursor: pointer;
        color: antiquewhite;
        background-color: black;
      }
    }

    .optionsList {
      text-decoration: none;
      list-style: none;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 5px;

      & > li {
        color: black;
        font-size: 1.2rem;
        display: flex;
        gap: 5px;
      }
    }
  }
}
