.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  

  .title {
    font-size: 1.8rem;
    margin-top: 10px;
    color: rgb(215, 160, 9);
  }

  .infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;

    .infoTitle {
      font-size: 1.4rem;
      margin-top: 10px;
    }

    .infoList {
      list-style: none;
      counter-reset: li;
      text-align: left;
      margin: 0 10px;

      & > li::before {
        content: counter(li);
        color: rgb(215, 160, 9);
        display: inline-block;
        width: 1em;
        margin-left: -1em;
      }

      & > li {
        counter-increment: li;
        max-width: 60ch;
        font-size: 1.3rem;
        margin-top: 5px;
      }
    }
  }

  .formContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    width: 80%;
    max-width: calc(2 * 350px);
    place-items: center;

    .inputTextContainer {
      width: 220px;
      display: flex;
      flex-direction: column;
      margin: 15px 2px 0px 0px;

      .inputContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-bottom: 2px;

        .inputTitle {
          grid-column: span 2;
          font-size: 1.4rem;
          color: rgb(215, 160, 9);
          margin-bottom: 5px;
        }

        & > label {
          color: rgb(215, 160, 9);
          font-size: 1.2rem;
          text-align: left;
          width: 100%;
        }

        & > input {
          background-color: transparent;
          border: none;
          border-bottom: 2px solid rgb(215, 160, 9);
          color: aliceblue;
          outline: none;
          font-size: 1.2rem;
          width: 95%;
          justify-self: right;
        }

        .errorText {
          color: rgb(225, 81, 81);
          grid-column: span 2;
          font-size: 1rem;
        }
      }

      .stepsBtn {
        width: 50%;
        height: 25px;
        align-self: center;
        margin: 10px 0px;
        background-color: transparent;
        border: 1px solid rgb(215, 160, 9);
        color: rgb(215, 160, 9);
        font-size: 1.2rem;
        border-radius: 6px;

        &:hover {
          background-color: rgb(215, 160, 9);
          color: black;
        }
      }

      .showSteps {
        display: flex;
        width: 220px;
        flex-wrap: wrap;
        gap: 5px;

        .stepDiv {
          display: flex;
          background-color: rgb(215, 160, 9);
          border-radius: 4px;

          & > p {
            font-size: 1.2rem;
            color: black;
            width: max-content;
            text-transform: capitalize;
            font-weight: 500;
            padding: 2px;
          }

          & > button {
            font-size: 1.8rem;
            font-weight: 500;
            display: flex;
            justify-content: center;
            align-items: center;
            color: black;
            width: 18px;
            height: 18px;
            background-color: transparent;
            border: none;
            border-right: 2px solid black;
          }
        }
      }
    }

    .checkboxContainer {
      display: grid;
      grid-template-columns: 1fr;
      width: 220px;
      margin-top: 15px;
      column-gap: 10px;
      align-self: start;

      .dietsTitle {
        grid-column: span 2;
        font-size: 1.4rem;
        color: rgb(215, 160, 9);
        margin-bottom: 5px;
      }

      & > div {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 5px;

        & > label {
          font-size: 1.2rem;
          text-transform: capitalize;
        }
      }

      .errorText {
        color: rgb(225, 81, 81);
        grid-column: span 2;
        font-size: 1rem;
      }
    }

    .twoColumnSpan {
      max-width: 220px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & > label {
        font-size: 1.4rem;
        color: rgb(215, 160, 9);
        font-weight: 700;

        & > span {
          display: block;
          font-size: 1.2rem;
          font-weight: 400;
          margin-bottom: 10px;
        }
      }

      & > input {
        background-color: transparent;
        border: none;
        width: 100%;
        border-bottom: 2px solid rgb(215, 160, 9);
        color: aliceblue;
        font-size: 1.2rem;
        outline: none;
        text-align: center;
      }
    }

    .btnSubmit {
      width: 100px;
      height: 25px;
      align-self: center;
      margin-top: 10px;
      background-color: transparent;
      border: 1px solid rgb(215, 160, 9);
      color: rgb(215, 160, 9);
      font-size: 1.2rem;
      border-radius: 6px;

      &:hover {
        background-color: rgb(215, 160, 9);
        color: black;
      }
    }
  }
}

@media (min-width: 549px) {
  .twoColumnSpan {
    grid-column: span 2;
  }
}
