.mainContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .paginationContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .pagination {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 140px;
      height: 18px;
      overflow: hidden;
      border-radius: 12px;
      text-align: center;
      margin: 5px;

      & > button {
        border: none;
        color: black;
        font-size: 1.3rem;
        background-color: rgb(215, 160, 9);
        font-weight: 500;

        &:nth-child(2) {
          border-left: 2px solid black;
          border-right: 2px solid black;
        }
      }
    }

    .pages {
      width: 65px;
      margin: 0px 0px 5px;

      & > span {
        font-size: 1rem;
      }
    }
  }

  .container {
    width: 100%;
    max-width: 1024px;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }
}

.optionsPanel {
  height: 100%;
}

@media (max-width: 1344px) {
  .optionsPanel {
    display: none;
  }
}

@media (min-width: 1345px) {
  .mainContainer {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: 1.1fr 1.1fr 0.8fr;
    grid-template-rows: 0.3fr 2.4fr 0.3fr;
    grid-template-areas:
      "pages pages pages"
      "cards cards options"
      "pages2 pages2 pages2";
    justify-items: center;
  }

  .paginationContainer {
    grid-area: pages;
  }
  
  .paginationContainer2 {
    grid-area: pages2;
  }


  .optionsPanel{
    grid-area: options;
    height: 100%;
  }

  .container {
    grid-area: cards;
    place-items: center;
  }
}
