.container {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 100%;
    border: 2px solid rgb(215, 160, 9);
    border-radius: 8px;
    justify-content: space-evenly;

    .sortSection,
    .filterSection {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 10px ;


        & > h3 {
            grid-column: span 2;
            font-size: 1.5rem;
        }

        .sortOption,
        .filterOption {
            display: flex;
            padding-left: 25px;
            gap: 5px;
            margin-top: 5px;

            & > label {
                font-size: 1.2rem;
            }
        }
    }
}